@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
    font-family: "Roboto Medium";
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: "Roboto Regular";
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
    font-family: "Roboto Bold";
}

body {
    font-family: "Roboto Regular";
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header {
    background-color: #eeeeee;
}

header .container {
    position: relative;
}

a {
    text-transform: uppercase;
    font-family: "Roboto Medium";
    text-decoration: none;
}

h1 {
    font-family: "Roboto Medium";
    font-size: 45px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
}

h2, h3 {
    font-family: "Roboto Bold";
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

/* для корректного отображения заголовков в FF */
h1, h2, h3 {
    font-weight: inherit;
}

.main-page-link {
    min-height: 70px;
    float: left;
    margin-top: 50px;
    margin-right: 200px;
}

.to-main-page img:hover {
    opacity: 0.8;
}

.to-main-page img:active {
    opacity: 0.3;
}

.main-menu {
    float: left;
    width: 650px;
    min-height: 30px;
    margin-top: 70px;
}

.main-menu ul {
    padding: 0;
    margin: 0;
}

.main-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

.main-menu a:hover,
.basket a:hover {
    color: #fb565a;
}

.main-menu a:active,
.basket a:active {
    color: rgba(0,0,0,0.3);
}

.main-menu li.link-current {
    border-bottom: 2px #fb565a solid;
}

.basket {
    position: relative;
    float: right;
    width: 120px;
    min-height: 30px;
    margin-top: 60px;
    padding: 10px 0 10px 10px;
    text-align: right;
    cursor: pointer;
}

.basket::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 17px;
    background: url(../img/spritesheet.png) -5px -5px;
    width: 15px;
    height: 15px;
}

.main-menu li a,
.basket a {
    font-size: 16px;
    line-height: 30px;
    color: black;
}

.slider {
    position: relative;
    width: 100%;
    min-height: 430px;
}

.slides {
    position: relative;
}

.slide1 {
    background: url("../img/slide1.png") no-repeat 430px 16px;
}

.slide2 {
    background: url("../img/slide2.png") no-repeat 495px 1px;
}

.slide3 {
    background: url("../img/slide3.png") no-repeat 400px 18px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 80px 10px 80px 0;
    display: none;
}

.slide h1 {
    font-size: 55px;
    line-height: 55px;
    width: 520px;
    margin-top: 0;
    margin-bottom: 30px;
}

.slide-description {
    width: 420px;
    margin-bottom: 40px;
}

.slider-toggler {
    display: block;
    position: absolute;
    bottom: 114px;
    left: 536px;
    z-index: 100;
}

.slider input {
    display: none;
}

.slider-toggler label {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 9px;
}

.slider #slide1:checked ~ .slider-toggler label[for="slide1"],
.slider #slide2:checked ~ .slider-toggler label[for="slide2"],
.slider #slide3:checked ~ .slider-toggler label[for="slide3"] {
    background: white url("../img/active-button.png") center no-repeat;
}

.slider input#slide1 ~ .slider-toggler label[for="slide1"] {
    left: 0;
}

.slider input#slide2 ~ .slider-toggler label[for="slide2"] {
    left: 35px;
}

.slider input#slide3 ~ .slider-toggler label[for="slide3"] {
    left: 70px;
}

.slider #slide1:checked ~ .slides .slide1 {
    display: block;
}

.slider #slide2:checked ~ .slides .slide2 {
    display: block;
}

.slider #slide3:checked ~ .slides .slide3 {
    display: block;
}

.slides .slide-description,
.feature-item-description,
.about-us-features,
.about-us-orders li {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.btn {
    color: white;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Medium";
    display: inline-block;
    padding: 15px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn:active {
    color: rgba(255, 255, 255, 0.3);
}

.btn-red {
    background-color: #fb565a;
}

.btn-red:hover {
    background-color: #e74246;
}

.btn-red:active {
    background-color: #d7373b;
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover {
    background-color: #00bc6c;
}

.btn-green:active {
    background-color: #00aa62;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:hover {
    background-color: #eab534;
}

.btn-yellow:active {
    background-color: #e5a722;
}

.btn-grey {
    color: #000;
    background-color: #eeeeee;
}

.slide .btn {
    width: 210px;
}

.features {
    margin-top: 60px;
    border-bottom: 2px #eeeeee solid;
}

.feature-item {
    display: inline-block;
    margin-right: 100px;
    width: 300px;
    vertical-align: top;
}

.feature-item:nth-child(3n) {
    margin-right: 0;
}

.feature-item-image {
    width: 300px;
    height: 146px;
}

.feature-websites {
    background-image: url("../img/illustration-1.png");
}

.feature-apps {
    background-image: url("../img/illustration-2.png");
}

.feature-presentations {
    background-image: url("../img/illustration-3.png");
}

.feature-item-description {
    margin-bottom: 35px;
}

.feature-item .btn {
    width: 130px;
    margin-bottom: 80px;
}

.about-us {
    padding-bottom: 65px;
    border-bottom: 2px #eeeeee solid;
}

.about-us-left {
    float: left;
    width: 660px;
    padding: 10px 0;
}

.about-us-left h1 {
    margin-top: 65px;
    margin-bottom: 35px;
    line-height: 45px;
}

.about-us-left h3 {
    margin-bottom: 25px;
}

.about-us-features {
    margin-bottom: 45px;
}

.about-us-orders li {
    margin-bottom: 27px;
}

.about-us-orders li:last-child,
.about-us-orders {
    margin-bottom: 0;
}

.about-us-right {
    float: right;
    margin-top: 40px;
    width: 360px;
}

.about-us-right h3 {
    margin-top: 37px;
}

.about-us-stats div {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

.about-us-stats h1 {
    line-height: 10px;
    margin-top: 45px;
    margin-bottom: 42px;
}

.about-us-stats p {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 0;
}

.our-projects {
    padding: 40px 0;
    min-height: 100px;
    border-bottom: 2px #eeeeee solid;
}

.our-projects-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 260px;
    margin-right: 40px;
    opacity: 0.2;
}

.our-projects-item:hover {
    opacity: 1;
}

.our-projects-item:active {
    opacity: 0.1;
}

.our-projects-item:nth-child(4n) {
    margin-right: 0;
}

.our-projects-item a {
    margin: 0 auto;
}

.contacts {
    position: relative;
    height: 416px;
    margin: 0 auto 60px;
    padding: 0;
}

.contacts h3,
.catalog-main h3 {
    font-size: 18px;
    line-height: 30px;
}

.contacts-list {
    float: left;
    background-color: white;
    width: 220px;
    padding: 51px 50px 47px;
    position: absolute;
    top: 55px;
    border: 1px #b4b9bb solid;
}

.contacts-list h3 {
    margin-top: 0;
    margin-bottom: 25px;
}

.contacts-list p {
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.contacts-address {
    margin-bottom: 20px;
}

.contacts-phone {
    margin-bottom: 35px;
}

.contacts-list .btn {
    width: 190px;
}

footer.container {
    padding-top: 10px;
    margin-bottom: 60px;
    position: relative;
}

footer h1 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.social-media-buttons {
    float: left;
}

.social-media-network {
    cursor: pointer;
    background-color: #e1e1e1;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 13px;
    text-align: center;
    vertical-align: middle;
    border-radius: 40px;
}

.social-media-network a {
    display: block;
    background: url("../img/spritesheet.png");
}

.social-media-network:hover {
    background-color: #e74246;
}

.social-media-network:active {
    background-color: #d7373b;
}

.social-media-network:active a {
    opacity: 0.3;
}

a.social-vk {
    width: 26px;
    height: 15px;
    background-position: -5px -75px;
    margin-left: 26px;
    margin-top: 33px;
}

a.social-facebook {
    width: 12px;
    height: 22px;
    background-position: -36px -38px;
    margin-top: 28px;
    margin-left: 33px;
}

a.social-instagram {
    width: 21px;
    height: 21px;
    background-position: -58px -38px;
    margin-left: 30px;
    margin-top: 29px;
}

.social-media-buttons a:last-child {
    margin-right: 0;
}

.social-media-friends {
    float: left;
    margin-left: 140px;
}

.social-media-discount {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.write-us-block {
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 760px;
    height: 510px;
    padding: 70px 100px 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.75);
    background-color: white;
}

.write-us-block header {
    background-color: white;
}

.write-us-block h1 {
    float: left;
    margin-top: 0;
    line-height: 45px;
}

.write-us-block label,
.write-us-block input,
.write-us-block textarea {
    font-size: 16px;
    line-height: 18px;
}

.write-us-block label {
    font-family: "Roboto Bold";
    color: black;
}

.write-us-block input,
.write-us-block textarea,
.write-us-block input[placeholder],
.write-us-block textarea[placeholder] {
    font-family: "Roboto Regular";
}

.write-us-block-name,
.write-us-block-email {
    display: inline-block;
    width: 360px;
}

.write-us-block-name {
    margin-right: 36px;
    margin-bottom: 35px;
}

.write-us-block input,
.write-us-block textarea {
    margin-top: 13px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    outline: none;
}

.write-us-block input[placeholder],
.write-us-block textarea[placeholder] {
    color: #444444;
}

.write-us-block input:hover,
.write-us-block textarea:hover {
    border-color: #b4b9bb;
}

.write-us-block input.invalid,
.write-us-block textarea.invalid {
    border-color: #e74246;
    color: #e74246;
}

.write-us-block input:focus,
.write-us-block textarea:focus {
    border-color: black;
    color: #000;
}

.write-us-block textarea {
    width: 725px;
    padding: 15px;
}

.write-us-block-name input,
.write-us-block-email input {
    width: 328px;
    height: 14px;
    padding: 15px 13px;
}

.write-us-block-text {
    margin-bottom: 47px;
}

.write-us-block .btn {
    width: 230px;
    margin-bottom: 74px;
}

.write-us-block-show {
    display: block;
}

.write-us-block form {
    height: 360px;
}

.write-us-block-close {
    background: url("../img/spritesheet.png") -5px -38px;
    float: right;
    width: 21px;
    height: 21px;
    margin-top: 7px;
    cursor: pointer;
    opacity: 0.3;
}

.write-us-block-close:hover {
    opacity: 1;
}

.write-us-block-close:active {
    opacity: 0.1;
}

.our-shop {
    line-height: 55px;
    font-size: 55px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 110px;
}

.our-shop-search {
    float: left;
    width: 260px;
}

.our-shop-search-results {
    float: right;
    width: 760px;
}

.search-value-filter h3 {
    margin: 54px 0;
}

.our-shop-search-results h3 {
    line-height: 18px;
    float: left;
    margin: 60px 0;
}

.search-slider {
    padding: 40px 20px 0;
    height: 40px;
    margin-bottom: 14px;
    position: relative;
    overflow: hidden;
}

.search-slider,
.search-value-filter input {
    border-radius: 2px;
    background-color: #eeeeee;
    border: none;
}

.search-slider-scale {
    height: 2px;
    background-color: #d7dcde;
}

.bar {
    background-color: #00ca74;
    height: 2px;
}

.togglers {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px white solid;
    border-radius: 8px;
    top: 30px;
    cursor: pointer;
}

.toggler-max {
    left: 160px;
}

.our-shop-search-filters input {
    width: 52px;
    padding: 10px 15px;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
}

.our-shop-search label,
.our-shop-search input {
    color: #283136;
    font-size: 16px;
    line-height: 20px;
}

.search-value-filter label {
    line-height: 22px;
    text-transform: uppercase;
}

input#value-before {
    margin-right: 0;
}

.search-value-filter {
    margin-bottom: 56px;
}

.search-grid-filter {
    margin-bottom: 30px;
}

.search-features-filter {
    margin-bottom: 48px;
}

.search-grid-filter label,
.search-features-filter label {
    display: block;
    cursor: pointer;
}

.search-grid-filter h3,
.search-grid-filter label,
.search-features-filter label {
    margin-bottom: 20px;
}

.search-features-filter input,
.search-grid-filter input {
    display: none;
}

.search-grid-filter input + label:before,
.search-features-filter input + label:before {
    content: "";
    display: inline-block;
    background: url("../img/spritesheet.png") no-repeat;
    opacity: 0.4;
    margin-right: 10px;
    margin-bottom: -7px;
}

.search-grid-filter input:hover + label::before,
.search-features-filter input:hover + label::before {
    opacity: 1;
}

.search-grid-filter input:disabled + label:before,
.search-features-filter input:disabled + label:before {
    opacity: 0.1;
}

.search-grid-filter input + label:before {
    width: 25px;
    height: 25px;
    background-position: -100px -5px;
}

.search-grid-filter input:checked + label:before {
    background-position: -89px -40px;
}

.search-features-filter input + label:before {
    width: 26px;
    height: 23px;
    margin-right: 9px;
    background-position: -30px -5px;
}

.search-features-filter input:checked + label:before {
    background-position: -63px -5px;
}

.our-shop-search-filters button {
    width: 100%;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.our-shop-search-filters button:hover {
    background-color: #dfdfdf;
}

.our-shop-search-filters button:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.sort-parameters {
    float: right;
    margin-top: 57px;
}

.sort-parameters a {
    display: inline-block;
}

.sort-parameter {
    font-family: "Roboto Regular";
    font-size: 14px;
    line-height: 18px;
    color: black;
    opacity: 0.3;
    margin-right: 28px;
}

.sort-parameter:hover:not(.sort-current) {
    opacity: 0.6;
}

.sort-parameter:active,
.sort-current {
    opacity: 1;
}

.sort-parameter.last-parameter {
    margin-right: 45px;
}

.sort-order {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.sort-by-asc {
    border-bottom: 10px solid rgba(0, 0, 0, 0.2);
}

.sort-by-asc:hover {
    border-bottom: 10px solid #a6a6a6;
}

.sort-by-asc:active {
    border-bottom: 10px solid #231f20;
}

.sort-by-asc.current {
    border-bottom: 10px solid #010101;
}

.sort-by-desc {
    border-top: 10px solid rgba(0, 0, 0, 0.2);
    margin-right: 18px;
}

.sort-by-desc:hover {
    border-top: 10px solid #a6a6a6;
}

.sort-by-desc:active {
    border-top: 10px solid #231f20;
}

.sort-by-desc.current {
    border-top: 10px solid #010101;
}

.our-shop-landings {
    margin-bottom: 27px;
}

.our-shop-landings-item {
    position: relative;
    width: 360px;
    height: 602px;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 33px;
    padding-top: 13px;
    background-color: #e9e9e9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.our-shop-landings-item:hover {
    background-color: #4d4d4d;
}

.our-shop-landings-item img {
    display: block;
}

.our-shop-landings-item:nth-child(2n) {
    margin-right: 0;
}

.landing-buttons,
.landing-buttons::before,
.landing-buttons::after {
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 7px;
}

.landing-buttons {
    margin-left: 39px;
    margin-bottom: 13px;
}

.landing-buttons::before,
.landing-buttons::after {
    content: "";
    position: absolute;
    top: 13px;
}

.landing-buttons::before {
    left: 16px;
}

.landing-buttons::after {
    left: 62px;
}

.landing-view-details {
    width: 100%;
    display: none;
    position: absolute;
    bottom: 0;
    height: 230px;
    background-color: #eeeeee;
}

.our-shop-landings-item:hover .landing-view-details {
    display: block;
}

h3.landing-name,
.landing-info,
.landing-view-details .btn {
    margin: 0 auto 20px;
}

h3.landing-name,
.landing-info {
    width: 240px;
    margin: 0 auto 20px;
    text-align: center;
}

.landing-view-details .btn {
    width: 170px;
    display: block;
}

h3.landing-name {
    margin-top: 30px;
}

.landing-info {
    margin-bottom: 30px;
    color: #666666;
    font-size: 16px;
    line-height: 18px;
}

.search-paging {
    margin-bottom: 50px;
}

.page-link {
    color: black;
    background-color: #eeeeee;
    padding: 16px 20px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.page-link:not(.page-current):hover {
    background-color: #dfdfdf;
}

.page-link:not(.page-current):active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px rgba(0, 0, 0, 0.3);
}

.page-current {
    background-color: white;
    border: 3px solid #dbdbdb;
    padding: 13px 17px;
}








