@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
    font-family: "Roboto Medium";
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: "Roboto Regular";
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
    font-family: "Roboto Bold";
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin-top: 0;
}

header {
    background-color: #eeeeee;
}

a {
    text-transform: uppercase;
    font-family: "Roboto Medium";
    text-decoration: none;
}

h1 {
    font-family: "Roboto Medium";
}

h2, h3 {
    font-family: "Roboto Bold";
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

.header-top {
    margin-bottom: 10px;
}

.main-page-link {
    min-height: 70px;
    float: left;
    margin-top: 50px;
    margin-right: 190px;
}

.main-menu {
    float: left;
    width: 650px;
    min-height: 30px;
    margin-top: 60px;
    padding: 10px;
}

.main-menu ul {
    padding: 0;
    margin: 0;
}

.main-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

.main-menu a:hover,
.basket a:hover {
    color: #fb565a;
}

.main-menu a:active,
.basket a:active {
    color: rgba(0,0,0,0.3);
}

.main-menu li.link-current {
    border-bottom: 2px #fb565a solid;
}

.basket {
    position: relative;
    float: right;
    width: 120px;
    min-height: 30px;
    margin-top: 60px;
    padding: 10px;
    padding-right: 0;
    text-align: right;
}

.basket::before {
    content: "";
    position: absolute;
    left: 14px;
    top: 17px;
    background: url(../img/spritesheet.png) -5px -5px;
    width: 15px;
    height: 15px;
}

.main-menu li a,
.basket a {
    font-size: 16px;
    line-height: 30px;
    color: black;
}

.promo-slide h1 {
    font-size: 55px;
    line-height: 55px;
}

.slide-information {
    float: left;
    min-height: 270px;
    width: 400px;
    margin-top: 55px;
    padding: 10px;
    padding-left: 0;
}

.slide-information h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.slide-description {
    padding: 10px;
    padding-left: 0;
    margin-bottom: 30px;
}

.slide-image {
    float: right;
    width: 750px;
    min-height: 420px;
}

.promo-slide .slide-description,
.feature-item-description,
.about-us-features,
.about-us-orders li {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.btn {
    color: white;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto Medium";
    display: inline-block;
    padding: 15px;
}

.slide-information .btn {
    width: 210px;
    text-align: center;
}

.features {
    margin-top: 60px;
    border-bottom: 2px #eeeeee solid;
}

.feature-item {
    display: inline-block;
    margin-right: 100px;
    width: 300px;
}

.feature-item:last-child {
    margin-right: 0;
}

.feature-item-image {
    width: 300px;
    height: 146px;
}

.feature-websites {
    background-image: url("../img/illustration-1.png");
}

.feature-apps {
    background-image: url("../img/illustration-2.png");
}

.feature-presentations {
    background-image: url("../img/illustration-3.png");
}

.feature-item h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.feature-item-description {
    margin-bottom: 35px;
}

.feature-item .btn {
    width: 130px;
    margin-bottom: 80px;
}

.about-us {
    padding-bottom: 65px;
    border-bottom: 2px #eeeeee solid;
}

.about-us-left {
    float: left;
    width: 660px;
    padding: 10px 0;
}

.about-us-left h1 {
    margin-top: 65px;
    margin-bottom: 35px;
}

.about-us-left h3 {
    margin-bottom: 25px;
}

.about-us-features {
    margin-bottom: 45px;
}

.about-us-orders li {
    margin-bottom: 27px;
}

.about-us-orders li:last-child,
.about-us-orders {
    margin-bottom: 0;
}

.about-us-right {
    float: right;
    margin-top: 40px;
    width: 360px;
}

.about-us-right h3 {
    margin-top: 37px;
}

.about-us-stats div {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

.about-us-stats h1 {
    margin-top: 45px;
    margin-bottom: 42px;
}

.about-us-stats p {
    margin-bottom: 0;
}

.our-projects {
    padding: 40px 0;
    min-height: 100px;
    border-bottom: 2px #eeeeee solid;
}

.our-projects-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 260px;
    margin-right: 40px;
    opacity: 0.2;
}

.our-projects-item:hover {
    opacity: 1;
}

.our-projects-item:active {
    opacity: 0.1;
}

.our-projects-item:last-child {
    margin-right: 0;
}

.our-projects-item a {
    margin: 0 auto;
}

.contacts {
    position: relative;
    height: 416px;
    background-image: url("../img/map.png");
}

.contacts::before {
    width: 231px;
    height: 190px;
    left: 820px;
    top: 90px;
    position: absolute;
    content: "";
    background-image: url("../img/map-marker.png");
}

.contacts.container {
    width: 1440px;
    margin: 0 auto 60px;
    padding: 0;
}

.contacts-list {
    float: left;
    background-color: white;
    width: 220px;
    margin-top: 54px;
    padding: 51px 50px 47px;
}

.contacts-list h3 {
    margin-top: 0;
    margin-bottom: 25px;
}

.contacts-address {
    margin-bottom: 20px;
}

.contacts-phone {
    margin-bottom: 35px;
}

.contacts-list .btn {
    width: 190px;
}

footer.container {
    padding: 10px 0;
}

footer h1 {
    font-family: "Roboto Medium";
    font-size: 36px;
    line-height: 36px;
}

.social-media-buttons {
    float: left;
}

.social-media-network {
    background-color: #e1e1e1;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 13px;
    text-align: center;
    vertical-align: middle;
    border-radius: 40px;
}

.social-media-network a {
    display: block;
    background: url("../img/spritesheet.png");
}

.social-media-network:hover {
    background-color: #e74246;
}

.social-media-network:active {
    background-color: #d7373b;
}

.social-media-network:active a {
    opacity: 0.3;
}

a.social-vk {
    width: 26px;
    height: 15px;
    background-position: -5px -75px;
    margin-left: 26px;
    margin-top: 33px;
}

a.social-facebook {
    width: 12px;
    height: 22px;
    background-position: -36px -38px;
    margin-top: 28px;
    margin-left: 33px;
}

a.social-instagram {
    width: 21px;
    height: 21px;
    background-position: -58px -38px;
    margin-left: 30px;
    margin-top: 29px;
}

.social-media-buttons a:last-child {
    margin-right: 0;
}

.social-media-friends {
    float: left;
    margin-left: 140px;
}

.social-media-friends h1 {
    margin-top: 7px;
    margin-bottom: 10px;
}

.social-media-discount {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 22px;
    color: #444444;
    margin-bottom: 75px;
}

.write-us-block {
    z-index: 1000;
    position: fixed;
    margin: auto;
    width: 760px;
    height: 510px;
    padding: 70px 100px 10px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.75);
}

.write-us-block header {
    background-color: white;
}

.write-us-block h1 {
    float: left;
    margin-top: 0;
}

.write-us-block-close {
    background: url("../img/spritesheet.png") -5px -38px;
    float: right;
    width: 21px;
    height: 21px;
    margin-top: 7px;
    cursor: pointer;
    opacity: 0.3;
}

.write-us-block-close:hover {
    opacity: 1;
}

.write-us-block-close:active {
    opacity: 0.1;
}

.write-us-block-name,
.write-us-block-email {
    display: inline-block;
    width: 360px;
}

.write-us-block-name {
    margin-right: 36px;
    margin-bottom: 35px;
}

.write-us-block input,
.write-us-block textarea {
    margin-top: 13px;
    border: 2px solid #d7dcde;
    border-radius: 2px;
    outline: none;
}

.write-us-block input[placeholder],
.write-us-block textarea[placeholder] {
    color: #444444;
}

.write-us-block input:hover,
.write-us-block textarea:hover {
    border-color: #b4b9bb;
}

.write-us-block input.invalid,
.write-us-block textarea.invalid {
    border-color: #e74246;
    color: #e74246;
}

.write-us-block input:focus,
.write-us-block textarea:focus {
    border-color: black;
    color: #000;
}

.write-us-block textarea {
    width: 730px;
    max-height: 84px;
    padding: 15px;
}

.write-us-block-name input,
.write-us-block-email input {
    width: 328px;
    height: 14px;
    padding: 15px 13px;
}

.write-us-block-text {
    margin-bottom: 47px;
}

.write-us-block .btn {
    width: 230px;
    margin-bottom: 74px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.write-us-block form {
    height: 360px;
}

.our-shop {
    line-height: 55px;
    font-size: 55px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 110px;
}

.our-shop-search {
    float: left;
    width: 260px;
}

.our-shop-search-results {
    float: right;
    width: 760px;
}

.search-value-filter h3,
.our-shop-search-results h3 {
    margin: 57px 0;
}

.search-slider {
    height: 80px;
    background-color: #eeeeee;
    margin-bottom: 14px;
}

.our-shop-search-filters input {
    width: 52px;
    padding: 7px 12px;
    margin-left: 11px;
    margin-right: 23px;
}

input#value-before {
    margin-right: 0;
}

.search-value-filter {
    margin-bottom: 56px;
}

.search-grid-filter {
    margin-bottom: 30px;
}

.search-grid-filter label,
.search-features-filter label {
    display: inline-block;
}

.search-grid-filter h3,
.search-grid-filter label,
.search-features-filter label {
    margin-bottom: 20px;
}

.search-features-filter {
    margin-bottom: 25px;
}

.our-shop-search-filters button {
    width: 100%;
}

.sort h3 {
    float: left;
}

.sort-parameters {
    float: right;
    margin-top: 57px;
}

.sort-parameters a {
    display: inline-block;
}

.sort-parameter {
    margin-right: 28px;
    color: black;
    opacity: 0.3;
}

.sort-parameter:hover:not(.sort-current) {
    opacity: 0.6;
}

.sort-parameter:active,
.sort-current {
    opacity: 1;
}

.sort-by-name {
    margin-right: 45px;
}

.sort-order {
    width: 11px;
    height: 10px;
    outline: 1px solid black;
}

.sort-by-desc {
    margin-right: 18px;
}

.our-shop-landings {
    margin-bottom: 27px;
}

.our-shop-landings-item {
    width: 360px;
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 33px;
}

.our-shop-landings-item:nth-child(2n) {
    margin-right: 0;
}

.landing-header {
    height: 40px;
    background-color: #e9e9e9;
}

.landing-view-details {
    display: none;
    height: 230px;
    background-color: #eeeeee;
}

h3.landing-name,
p.landing-info,
.landing-view-details .btn {
    width: 240px;
    margin: 0 auto 20px;
    text-align: center;
}

.landing-view-details .btn {
    width: 200px;
    display: block;
}

.landing-name {
    padding-top: 30px;
}

p.landing-info {
    margin-bottom: 30px;
    color: #666666;
}

.search-paging {
    margin-bottom: 60px;
}

.page-link {
    padding: 16px 18px;
    display: inline-block;
    margin-right: 10px;
}

.btn:active {
    color: rgba(255,255,255,0.3);
}

.btn-red {
    background-color: #fb565a;
}

.btn-red:hover {
    background-color: #e74246;
}

.btn-red:active {
    background-color: #d7373b;
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover {
    background-color: #00bc6c;
}

.btn-green:active {
    background-color: #00aa62;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:hover {
    background-color: #eab534;
}

.btn-yellow:active {
    background-color: #e5a722;
}

.btn-grey {
    color: #000;
    background-color: #eeeeee;
}

.feature-item h2 {
    font-size: 24px;
    line-height: 30px;
}

.about-us h1 {
    font-size: 45px;
    line-height: 45px;
}

.about-us h3 {
    font-size: 16px;
    line-height: 24px;
}

.about-us-stats h1 {
    font-size: 45px;
    line-height: 10px;
}

.about-us-stats p {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 18px;
}

.contacts h3 {
    font-size: 18px;
    line-height: 30px;
}

.contacts-address,
.contacts-phone {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

.our-shop-search h3 {
    font-size: 18px;
    line-height: 30px;
}

.our-shop-search label,
.our-shop-search input {
    color: #283136;
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 20px;
}

.search-value-filter label {
    line-height: 22px;
    text-transform: uppercase;
}

.our-shop-search-results h3 {
    font-size: 18px;
    line-height: 18px;
}

.sort-parameter {
    font-family: "Roboto Regular";
    font-size: 14px;
    line-height: 18px;
}

.landing-view-details h3 {
    font-size: 18px;
    line-height: 30px;
}

.landing-info {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 18px;
}

.page-link {
    color: black;
    background-color: #eeeeee;
}

.page-current {
    background-color: white;
}

.write-us-block h1 {
    font-size: 45px;
    line-height: 45px;
}

.write-us-block label,
.write-us-block input,
.write-us-block textarea {
    font-size: 16px;
    line-height: 18px;
}

.write-us-block label {
    font-family: "Roboto Bold";
    color: black;
}

.write-us-block input,
.write-us-block textarea {
    font-family: "Roboto Regular";
}

.write-us-block input::placeholder,
.write-us-block textarea::placeholder {
    font-family: "Roboto Regular";
    color: #b1b1b1;
}

.to-main-page img:hover {
    opacity: 0.8;
}

.to-main-page img:active {
    opacity: 0.3;
}








