@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
    font-family: "Roboto Medium";
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: "Roboto Regular";
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
    font-family: "Roboto Bold";
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    outline: red 1px solid;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin-top: 0;
}

header {
    background-color: #eeeeee;
}

a {
    text-transform: uppercase;
    font-family: "Roboto Medium";
    text-decoration: none;
}

h1 {
    font-family: "Roboto Medium";
}

h2, h3 {
    font-family: "Roboto Bold";
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

.header-top {
    margin-bottom: 10px;
}

.main-page-link {
    min-height: 70px;
    float: left;
    margin-top: 50px;
    margin-right: 190px;
}

.main-menu {
    float: left;
    width: 650px;
    min-height: 30px;
    margin-top: 60px;
    padding: 10px;
}

.main-menu ul {
    padding: 0;
    margin: 0;
}

.main-menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;
}

.basket {
    float: right;
    width: 120px;
    min-height: 30px;
    margin-top: 60px;
    padding: 10px;
    padding-right: 0;
    text-align: right;

}

.main-menu li a,
.basket a {
    font-size: 16px;
    line-height: 30px;
    color: black;
}

.promo-slide h1 {
    font-size: 55px;
    line-height: 55px;
}

.slide-information {
    float: left;
    min-height: 270px;
    width: 400px;
    margin-top: 55px;
    padding: 10px;
    padding-left: 0;
}

.slide-information h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.slide-description {
    padding: 10px;
    padding-left: 0;
    margin-bottom: 30px;
}

.slide-image {
    float: right;
    width: 750px;
    min-height: 420px;
}

.promo-slide .slide-description,
.feature-item-description,
.about-us-features,
.about-us-orders li {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.btn {
    color: white;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "Roboto Medium";
    display: inline-block;
    padding: 15px;
}

.slide-information .btn {
    width: 210px;
    text-align: center;
}

.features {
    margin-top: 60px;
    border-bottom: 2px #eeeeee solid;
}

.feature-item {
    display: inline-block;
    margin-right: 100px;
    width: 300px;
}

.feature-item:last-child {
    margin-right: 0;
}

.feature-item-image {
    width: 300px;
    height: 146px;
    outline: 1px red solid;
}

.feature-item h2 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.feature-item-description {
    margin-bottom: 35px;
}

.feature-item .btn {
    margin-bottom: 80px;
}

.about-us {
    padding-bottom: 65px;
    border-bottom: 2px #eeeeee solid;
}

.about-us-left {
    float: left;
    width: 660px;
    padding: 10px 0;
}

.about-us-left h1 {
    margin-top: 65px;
    margin-bottom: 35px;
}

.about-us-left h3 {
    margin-bottom: 25px;
}

.about-us-features {
    margin-bottom: 45px;
}

.about-us-orders li {
    margin-bottom: 27px;
}

.about-us-orders li:last-child,
.about-us-orders {
    margin-bottom: 0;
}

.about-us-right {
    float: right;
    margin-top: 40px;
    width: 360px;
}

.about-us-right h3 {
    margin-top: 37px;
}

.about-us-stats div {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

.about-us-power h1 {
    margin-top: 35px;
    margin-bottom: 42px;
}

.about-us-stats p {
    margin-bottom: 0;
}

.our-projects {
    margin-top: 45px;
}

.our-projects-item {
    display: inline-block;
    width: 260px;
    margin-right: 40px;
}

.our-projects-item:last-child {
    margin-right: 0;
}

.btn-red {
    background-color: #fb565a;
}

.btn-green {
    background-color: #00ca74;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-grey {
    color: #000;
    background-color: #eeeeee;
}

.feature-item h2 {
    font-size: 24px;
    line-height: 30px;
}

.about-us h1 {
    font-size: 45px;
    line-height: 45px;
}

.about-us h3 {
    font-size: 16px;
    line-height: 24px;
}

.about-us-stats h1 {
    font-size: 45px;
    line-height: 10px;
}

.about-us-stats p {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 18px;
}

.contacts h3 {
    font-size: 18px;
    line-height: 30px;
}

.contacts-address,
.contacts-phone {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

footer h1 {
    font-family: "Roboto Medium";
    font-size: 36px;
    line-height: 36px;
}

.social-media-buttons {
    background-color: #e1e1e1;
}

.social-media-discount {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.our-shop-search h3 {
    font-size: 18px;
    line-height: 30px;
}

.our-shop-search label,
.our-shop-search input {
    color: #283136;
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 20px;
}

.search-value-filter label {
    line-height: 22px;
    text-transform: uppercase;
}

.our-shop-search-results h3 {
    font-size: 18px;
    line-height: 18px;
}

.sort-parameter {
    font-family: "Roboto Regular";
    font-size: 14px;
    line-height: 18px;
    color: #cacaca;
}

.sort-current {
    color: #000;
}

.landing-view-details h3 {
    font-size: 18px;
    line-height: 30px;
}

.landing-info {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 18px;
}

.page-link {
    color: black;
    background-color: #eeeeee;
}

.page-current {
    background-color: white;
}

.write-us-block h1 {
    font-size: 45px;
    line-height: 45px;
}

.write-us-block label,
.write-us-block input,
.write-us-block textarea {
    font-size: 16px;
    line-height: 18px;
}

.write-us-block label {
    font-family: "Roboto Bold";
    color: black;
}

.write-us-block input {
    font-family: "Roboto Regular";
}

.write-us-block input::placeholder,
.write-us-block textarea::placeholder {
    font-family: "Roboto Regular";
    color: #b1b1b1;
}






