@font-face {
    src: url("../fonts/Roboto-Medium.ttf");
    font-family: "Roboto Medium";
}

@font-face {
    src: url("../fonts/Roboto-Regular.ttf");
    font-family: "Roboto Regular";
}

@font-face {
    src: url("../fonts/Roboto-Bold.ttf");
    font-family: "Roboto Bold";
}

.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
    outline: red 1px solid;
}

a {
    text-transform: uppercase;
    font-family: "Roboto Medium";
    text-decoration: none;
}

h1 {
    font-family: "Roboto Medium";
}

h2, h3 {
    font-family: "Roboto Bold";
    text-transform: uppercase;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

.main-menu li a,
.basket a {
    font-size: 16px;
    line-height: 30px;
    color: black;
}

.promo-slide h1 {
    font-size: 55px;
    line-height: 55px;
}

.promo-slide .slide-description,
.feature-item-description,
.about-us-features,
.about-us-orders li {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.btn {
    color: white;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: "Roboto Medium";
}

.btn-red {
    background-color: #fb565a;
}

.btn-green {
    background-color: #00ca74;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-grey {
    color: #000;
    background-color: #eeeeee;
}

.feature-item h2 {
    font-size: 24px;
    line-height: 30px;
}

.about-us h1 {
    font-size: 45px;
    line-height: 45px;
}

.about-us h3 {
    font-size: 16px;
    line-height: 24px;
}

.about-us-stats h1 {
    font-size: 45px;
    line-height: 10px;
}

.about-us-stats p {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 18px;
}

.contacts h3 {
    font-size: 18px;
    line-height: 30px;
}

.contacts-address,
.contacts-phone {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 18px;
    color: #666666;
}

footer h1 {
    font-family: "Roboto Medium";
    font-size: 36px;
    line-height: 36px;
}

.social-media-buttons {
    background-color: #e1e1e1;
}

.social-media-discount {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}

.our-shop-search h3 {
    font-size: 18px;
    line-height: 30px;
}

.our-shop-search label,
.our-shop-search input {
    color: #283136;
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 20px;
}

.search-value-filter label {
    line-height: 22px;
    text-transform: uppercase;
}

.our-shop-search-results h3 {
    font-size: 18px;
    line-height: 18px;
}

.sort-parameter {
    font-family: "Roboto Regular";
    font-size: 14px;
    line-height: 18px;
    color: #cacaca;
}

.sort-current {
    color: #000;
}

.landing-view-details h3 {
    font-size: 18px;
    line-height: 30px;
}

.landing-info {
    font-family: "Roboto Regular";
    font-size: 16px;
    line-height: 18px;
}

.page-link {
    color: black;
    background-color: #eeeeee;
}

.page-current {
    background-color: white;
}

.write-us-block h1 {
    font-size: 45px;
    line-height: 45px;
}

.write-us-block label,
.write-us-block input,
.write-us-block textarea {
    font-size: 16px;
    line-height: 18px;
}

.write-us-block label {
    font-family: "Roboto Bold";
    color: black;
}

.write-us-block input {
    font-family: "Roboto Regular";
}

.write-us-block input::placeholder,
.write-us-block textarea::placeholder {
    font-family: "Roboto Regular";
    color: #b1b1b1;
}






